@use '../../../style/variables/variables.scss' as *;

.open_card {
    margin-top: 32px;
    display: flex;
    gap: 32px;

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
    }

}