@use '../../../style/variables/variables.scss' as *;

// открытый список
.open_card {
    margin-top: 32px;
    display: flex;
    gap: 32px;

    &_item {
        width: 50%;
        flex-direction: column;
        gap: 8px;

        .users {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            .user {
                width: 100%;
                max-width: 286px;
                padding: 12px 24px;
                background-color: $bg-user;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;

                span {
                    background-color: transparent;
                }

                &_name {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    img {
                        background-color: transparent;
                    }

                    .name {
                        background-color: transparent;
                    }

                    .kill {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        opacity: 0.4;
                    }
                }

            }

        }

        .info {
            background-color: $bg-user;
            padding: 14px 24px;
            display: flex;
            justify-content: space-between;

            &_item {
                background-color: transparent; //$bg-user;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                width: 100%;
                max-width: 265px;
                position: relative;

                &::after {
                    content: '';
                    background-color: #141A21;
                    height: 16px;
                    width: 1px;
                    position: absolute;
                    left: 104.5%;
                    bottom: 0;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

            }

        }

    }



}