$black: #090909;
$red: #EB0237;
$dark-red: #A01131;
$disabled-red: #701328;
$disabled-text: #787878;
$green: #43AD28;
$orange: #EB6402;
$dark-text: #B4B5B6;
$white-text: #FFFFFF;
$bg-input: #0F1318;
$hover-input: #11161D;
$active-input: #0D1115;
$bg-card: #0B0E12;
$bg-user: #101318;