@use 'scss-reset/reset';
@use './variables/variables.scss' as *;

// fonts
@font-face {
    font-family: 'Tactic Sans';
    src:
        url('./fonts/tactic-sans-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: $black;
}

.container {
    width: 100%;
    max-width: 1836px;
    padding: 0 10px;
    margin: 0 auto;
}